---
import '@picocss/pico/css/pico.blue.min.css';

const title = 'Six Degrees of Formula 1';
const description =
  'Get all the shortest paths between two F1 drivers and their teammates';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://analytics.maciejpedzi.ch/script.js"
          data-website-id="22dd2b40-ed52-4e16-ba31-6cef599e4a24"
        />
      )
    }
  </head>
  <body class="container">
    <header>
      <nav aria-label="Main navigation">
        <ul>
          <li>
            <a id="nav-brand" class="pico-color-grey-50" href="/">
              <strong>Six Degrees of F1</strong>
            </a>
          </li>
        </ul>
        <ul>
          <li><a href="/about">About</a></li>
          <li>
            <a href="https://github.com/maciejpedzich/six-degs-of-f1">
              Source Code
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <small>
        Made by <a href="https://maciejpedzi.ch">Maciej Pędzich</a>. This
        website is unofficial and is not associated in any way with the Formula
        1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD
        CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula
        One Licensing B.V.
      </small>
    </footer>
  </body>
</html>

<style>
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #nav-brand {
    color: unset;
    text-decoration-color: inherit;
  }

  .container {
    max-width: 65ch;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    border-top: 1px solid var(--pico-muted-border-color);
    padding: 1rem;
  }
</style>
